################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TelegramExtract/v15/Server/sqlite3/db.lock
/.vs/TelegramExtract/v15/Server/sqlite3/storage.ide-shm
/.vs/TelegramExtract/v15/Server/sqlite3/storage.ide-wal
/.vs/TelegramExtract/v15/Server/sqlite3/storage.ide
/ChannelWritter/bin/Debug
/ChannelWritter/obj/Debug
/packages
/TelegramExtract/bin/Debug
/TelegramExtract/obj/Debug
